@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

h1{
font-family: "Lato", sans-serif;
font-weight: 300;
font-style: normal;
}
body {

    font-family: Arial, sans-serif;
    background-image: url("https://img.freepik.com/foto-gratis/lisa-pared-estuco-blanco_1194-6983.jpg?t=st=1714610521~exp=1714614121~hmac=731145e6d4908c8aafa9dc567e7b7bd7e1e7a4322d5886f1602487b8e114c51d&w=740");
    margin: 0;
    padding: 0;
}

.notes-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.note {
    background-color: black;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    transition: transform 0.3s;
}

.note:hover {
    transform: scale(1.05);
}

.note h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: white;
}

.note p {
    font-size: 14px;
    color: white;
}

select {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px; 
    font-size: 16px; 
    color: #21365c;
    width: 200px ;
    border-radius: 5px;
    outline: none; 
    transition: border-color 0.3s; 
}


select::-ms-expand {
    display: none;
}


select:hover,
select:focus {
    border-color: #aaa;
}


/* boton */

.delete-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
  }
  
  .delete-svgIcon {
    width: 15px;
    transition-duration: 0.3s;
  }
  
  .delete-svgIcon path {
    fill: white;
  }
  
  .delete-button:hover {
    width: 90px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(255, 69, 69);
    align-items: center;
  }
  
  .delete-button:hover .delete-svgIcon {
    width: 20px;
    transition-duration: 0.3s;
    transform: translateY(60%);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  
  .delete-button::before {
    display: none;
    content: "Delete";
    color: white;
    transition-duration: 0.3s;
    font-size: 2px;
  }
  
  .delete-button:hover::before {
    display: block;
    padding-right: 10px;
    font-size: 13px;
    opacity: 1;
    transform: translateY(0px);
    transition-duration: 0.3s;
  }


.misbotones{
    display: flex;
    justify-content: space-between;
}